<!DOCTYPE html>
<html>
  <head>
    <title>New To Do Item</title>
  </head>
  <body>
    <h1>Add a New Item to My To-Do List</h1>
    <!-- <p>Welcome to <%= title %></p> -->
    <form action='/items/new' method='post'>
    <value> Something I Need to Do: </value><input type='text'>
    <input type='button' value='Submit Item to List!'>
  </body>
</html>
